@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.ant-typography-edit-content {
  margin-top: 0;
  margin-bottom: 0;
  inset-inline-start: 0;
}
.ant-checkbox+span {
  width: 100%;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #d9d9d9;
  }

  .scrollbarDark::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbarDark::-webkit-scrollbar-track {
    background: #000;
  }
  .scrollbarDark::-webkit-scrollbar-thumb {
    background: #424242;
  }
}